:root {
    /* Forest Green */
    --primary-color: #055a05;
    /* Warm sand */
    --secondary-color: #c97a2f;
    /* Dark Slate Blue */
    --accent1-color: #264653;
    /* light golden yellow */
    --accent2-color: #e9c46a;
    /* Heading font */
    --heading-font: "Funnel Display", sans-serif;
    /* body font */
    --body-font: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

header img {
    width: 125px;
    height: auto;
}

#link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--accent1-color);
    margin: 3px;
    padding: 12px;
    border-radius: 8px;
    width: 100%;

}

#link a {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
}

.hero h1,
.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

article {
    position: absolute;
    bottom: 10px;
    width: 95%;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    border-radius: 12px;
    border: 3px double var(--accent2-color);
}

section {
    margin: 30px 0;
    padding: 0;
}

section h2 {
    font-family: var(--heading-font);
    background-color: var(--accent1-color);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 0;
    width: 100%;
    margin-bottom: 10px;
}

.grid-trial {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-trial img {
    width: 150px;
    height: auto;
    align-self: center;
    justify-content: space-around;
}

section p {
    padding: 20px;
}

footer {
    border-top: 2px solid #264653;
    text-align: center;
}

footer p {
    color: var(--secondary-color);
}

/* divs */
#history-list img {
    min-width: 15rem;
    height: auto;

}

#history-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}