* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    margin: 10px;
}

caption {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

th,
td {
    border: 1px solid rgb(140, 140, 140);
    padding: 8px 12px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

thead tr,
tfoot tr {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 700;
}

thead tr :hover,
tfoot tr :hover {
    background-color: rgb(141, 121, 121);
    color: rgb(59, 56, 56);
}