nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 2px double chocolate;
    padding: 9px;
    border-radius: 12px;
    box-shadow: indianred;
}

aside {
    max-width: 680px;
    margin: 2px;
    padding: 15px;
    border: 2px dotted black;
    background-color: aqua;
    color: rgb(33, 5, 89);
}

aside img {
    width: 200px;
    height: auto;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
    margin-top: 70px;
    border-top: 2px dashed black;
    text-align: center;
}