* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: rgb(226, 231, 255);
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 2px dotted rgb(93, 93, 224);
}

main {
    max-width: 840px;
    margin: 16px;
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 2px double chocolate;
    padding: 9px;
    border-radius: 12px;
}

aside {
    max-width: 20rem;
    min-width: 15rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 12px;
}

aside h2 {
    /* float: left; */
    position: absolute;
    top: 60px;
    left: 130px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    border-top: 2px dotted black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px dotted black;
    padding: 1rem;
    background-color: aqua;
    color: rgb(33, 5, 89);
}

.grid {
    display: grid;
    align-items: center;
}