* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main {
    max-width: 840px;
    margin: 16px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 2px double chocolate;
    padding: 9px;
    border-radius: 12px;
    box-shadow: 0 0 30px rgb(220, 32, 32);
}

aside {
    max-width: 20rem;
    min-width: 15rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border-radius: 12px;
}

aside h2 {
    /* float: left; */
    position: absolute;
    top: 60px;
    left: 130px;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0px;
}

footer {
    margin-top: 70px;
    border-top: 2px dashed black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 2px dotted black;
    padding: 1rem;
    background-color: aqua;
    color: rgb(33, 5, 89);
}