.callout {
    background-color: #224477;
    box-sizing: border-box;
    max-width: 400px;
    padding: 15px 12px;
    color: white;
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: auto;

}

blockquote {
    margin: 0;
}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: smaller;
}